.media{
    display: flex;
    border-radius: 50%;
    color: #afb1b8;
    width: 44px;
    height: 44px;
    @include transition(background-color);

    &:hover,
    &:focus{
        color: white;
        background-color: $--accent-cl;
    }
}

.media__social{
    fill: currentColor;
}

.clients{
    display: flex;
    height: 92px;
    width: 170px;
    color: #afb1b8;
    @include transition(color);

    &:hover,
    &:focus{
        color: $--accent-cl;
    }

    &--svg{
        fill: currentColor;
    }
}