.list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &--socials{
        padding: 0px 30px 30px 30px;
    }

    &--cards {
        flex-wrap: wrap;
    }
}

.list__item{
    display: flex;
    flex-direction: column;

    &--four{
        margin-right: 30px;
        flex-basis: calc((100% - 90px) / 4);
    }

    &--three{
        margin-right: 30px;
        flex-basis: calc((100% - 60px) / 3);
    }

    &--card-three{
        margin-right: 30px;
        margin-bottom: 30px;
        flex-basis: calc((100% - 60px) / 3);
        border-bottom: solid 1px;
        display: flex;
        flex-direction: column;
        border: 1px solid #eeeeee;
        flex-basis: calc((100% - 60px) / 3);
        
        &:nth-child(3n+3){
            margin-right: 0;
        }   
    }

    &--two{
        margin-right: 30px;
        flex-basis: calc((100% - 30px) / 2);
    }

    &--five{
        margin-right: 30px;
        flex-basis: calc((100% - 120px) / 5);
    }

    &--six{
        margin-right: 30px;
        flex-basis: calc((100% - 150px) / 6);
    }

    &--four-small{
        margin-right: 10px;
        flex-basis: calc((100% - 30px) / 4);
    }

    &--relative{
        position: relative;
    }

    &:last-child {
        margin-right: 0;
    }

    &--card-item{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: white;
    }

    &--icon-border{
        border: 1px solid #afb1b8;
        border-radius: 4px;

        &:hover,
        &:focus{
            border: 1px solid $--accent-cl;
        }
    }
}

.list__item-content{
    background-color: $--white-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list__item-text{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    &--job{
        color: $--main-text-cl;
        margin-bottom: 16px;
    }

    &--name{
        color: $--title-cl;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.list__svg-item{
    &::before{
        display: block;
        content: "";
        height: 120px;
        width: 270px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f5f4fa;
        margin-bottom: 30px;
    }

    &--satelite{
        &:before{
            background-image: url(../../images/Group1.svg);
        }    
    }

    &--clock{
        &:before{
            background-image: url(../../images/Group2.svg);
        }
        
    }

    &--planning{
        &:before{
            background-image: url(../../images/Group3.svg);
        }    
    }

    &--tech{
        &:before{
            background-image: url(../../images/Group4.svg);
        }    
    }
}

.list__svg-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list__svg-item-text{
    color: $--main-text-cl;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list--menu{
    padding: 0px 210px 0px 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list__card{
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    border-bottom: solid 1px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}

.list__card-overlay {
    position: relative;
    overflow: hidden;
}

.list__item-description{
    padding: 20px 24px;
    text-align: initial;

    &--project{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        margin-bottom: 4px;
    }

    &--type{
        color: $--main-text-cl;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        margin: 0;
    }
}

.list__card-backdrop{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;
    color: $--white-bg;
    padding: 63px 24px;
    font-family: $--main-font;
    line-height: 1.55;
    letter-spacing: 0.03em;
    font-weight: 400;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden{
        opacity: 0;
        pointer-events: none;
    }
}